.blog-form-card {
  background: #ffffff;
  border-radius: 20px;
}

.blog-form-card h3 {
  color: #0d6efd;
}

.form-control,
.form-select {
  border-radius: 10px;
  padding: 10px;
}

button {
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
}
